body {
  font-family: sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.poltrona {
  padding: 10px;
  background: #ddd;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.poltrona.vendida {
  background: red;
  color: white;
}
